<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM RECIPE
		 <!-- WHERE STATUS = 'Y' STATUS 가 없어서 일단 다른거 조인시키지 않고 요걸로 우선 진행 -->
	</entry>
	
	<entry key="selectList">
			  SELECT *
				FROM 
				    (SELECT ROWNUM RNUM
				           , A.*
				    FROM 
				         (SELECT
				                  RECIPE_BOARD_NO
				                 ,P_NO
				                 ,MEM_NO
				                 ,REG_DATE
				                 ,RECIPE_TITLE
				                 ,RECIPE_ING
				                 ,CLICK_NO
				                 ,RECIPE_MAIN_IMG
				            FROM RECIPE
				        ORDER BY REG_DATE DESC) A)
				  WHERE RNUM BETWEEN ? AND ?


<properties>

	<entry key="selectUserRecipe">
	
	SELECT 
		       recipe_board_no
		     , recipe_title
		     , m.mem_id
		     , r.reg_date
		     , click_no
		
		FROM RECIPE r
		JOIN MEMBERS m ON(r.MEM_NO = m.MEM_NO)
		WHERE r.P_NO = ?
	

	</entry>
	
	

	

	<entry key="selectSortRecipe">
	
		SELECT 
			       recipe_board_no
			     , recipe_title
			     , m.mem_id
			     , r.reg_date
			     , click_no
			
			FROM RECIPE r
			JOIN MEMBERS m ON(r.MEM_NO = m.MEM_NO)
			WHERE r.P_NO = ?
	</entry>

</properties>